<div class="about-container">
    <h2 class="title">About the Autobahn App</h2>
    <mat-divider class="custom-divider"></mat-divider>
    <p class="info-text">Discover the latest roadworks and highway updates with the Jacob-Autobahn-App. Easily
        navigate through different Autobahn sections, view road conditions, and access real-time map data for a seamless
        travel experience.</p>

    <p class="info-text">This app provides users with detailed information about roadworks, including location, road
        conditions, and available facilities like parking and charging stations. Our aim is to enhance your driving
        experience by keeping you informed about the Autobahn network.</p>
</div>