<div class="roadworks-container">
    <h2 class="title">Roadworks Info</h2>
    <p>Find out about roadworks on different Autobahns. Start by selecting a road.</p>

    <!-- Road Selection -->
    <div class="select-container">
        <mat-form-field appearance="fill">
            <mat-label>Select Road</mat-label>
            <mat-select [(ngModel)]="selectedRoad" required (ngModelChange)="onSelectRoad()">
                <mat-option *ngFor="let road of roads" [value]="road">{{ road }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <!-- Filter Input - Shown Only After Road Selection -->
    <div *ngIf="selectedRoad" class="filter-container">
        <p class="filter-description">Narrow down your search:</p>
        <mat-form-field appearance="fill">
            <mat-label>Search by Place/Road name</mat-label>
            <input type="text" matInput [formControl]="roadNameControl" [matAutocomplete]="auto">

            <!-- Clear filter button -->
            <button matSuffix mat-icon-button aria-label="Clear" *ngIf="roadNameControl.value"
                (click)="clearFilter($event)">
                <mat-icon>close</mat-icon>
            </button>

            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onRoadNameSelect($event.option.value)">
                <ng-container *ngIf="filteredRoadNames | async as names">
                    <mat-option *ngIf="names.length === 1 && names[0] === 'No matches found'" disabled>
                        {{ names[0] }}
                    </mat-option>
                    <ng-container *ngFor="let name of names; let i = index">
                        <mat-option *ngIf="name !== 'No matches found'" [value]="name">
                            {{ name }}
                        </mat-option>
                        <mat-divider *ngIf="name !== 'No matches found' && i < names.length - 1"
                            [ngStyle]="{ 'margin-top.px': 2, 'margin-bottom.px': 2 }"></mat-divider>

                    </ng-container>
                </ng-container>
            </mat-autocomplete>

        </mat-form-field>
        <ng-template #notFound>
            <span class="no-match">No matches found</span>
        </ng-template>
    </div>

    <mat-divider class="custom-divider"></mat-divider>

    <!-- Display Filtered Road Conditions -->
    <div *ngIf="selectedRoad">
        <div *ngIf="filteredWorks.length > 0" class="conditions-grid">
            <div class="condition" *ngFor="let condition of filteredWorks">
                <mat-card>
                    <mat-card-title>{{ condition.title }}</mat-card-title>
                    <mat-card-content>
                        <p>{{ condition.description.join(' ') }}</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <!-- No Data Template -->
        <div *ngIf="filteredWorks.length == 0">
            <p>No data available for the selected road.</p>
        </div>
    </div>
</div>