.title {
  font-size: 2em;
  margin-bottom: 10px;
}

.info-text {
    margin-bottom: 10px;
    font-size: 1rem;
  }
  
  .custom-divider {
    margin: 50px 0;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 400px;
    margin: auto;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  