<mat-sidenav-container class="sidenav-container">
  <!-- Side navigation panel -->
  <mat-sidenav #sidenav [mode]="isHandset ? 'over' : 'side'" [opened]="!isHandset" class="sidenav">
    <div class="sidenav-header">
      <h1 class="sidenav-title" (click)="goHome()">{{ title }}</h1>
    </div>

    <mat-nav-list>
      <div mat-list-item *ngFor="let link of links" [routerLink]="link.path"
        (click)="isHandset ? sidenav.toggle() : null" [class.active-item]="isActive(link.path)" class="nav-item">
        <img [src]="link.icon" [alt]="link.label" class="icon">
        <span class="nav-text">{{ link.label }}</span>
      </div>
    </mat-nav-list>

    <!-- Footer of the sidenav -->
    <div class="sidenav-footer">
      Created by <a href="http://www.jacob-kourieh.com" target="_blank" class="footer-name-link">Jacob Kourieh</a>
    </div>
  </mat-sidenav>

  <!-- Main content area next to the sidenav -->
  <mat-sidenav-content>
    <mat-toolbar *ngIf="isHandset">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <h3 class="sidenav-title" (click)="goHome()">{{ title }}</h3>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>