.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px; 
}


@media (max-width: 600px) {
  .sidenav {
    width: 100%; 
    top: 56px;
  }
}

mat-nav-list a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  line-height: 20px;
  padding: 10px;
}