/* Global Styles */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-sidenav-content {
  background-color: #fff;
}

/* Common Container Style */
.common-container {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .common-container {
    padding: 10px;
  }
}
