.title {
  font-size: 2em;
  margin-bottom: 10px;
}

.custom-divider {
  margin: 50px 0;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.feature-link {
  text-decoration: none;
  color: black;
}

.feature-icon {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 8px;
}

.feature-label {
  font-size: 1.3rem;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .features-grid {
    grid-template-columns: 1fr;
  }

  .feature-icon {
    width: 150px;
    height: 150px;
  }
}
