<div class="common-container">
    <h2 class="title">Welcome to the Autobahn</h2>
    <p>Explore the latest updates on road conditions, maps, and more with our intuitive app.</p>

    <mat-divider class="custom-divider"></mat-divider>

    <!-- Grid for Features -->
    <div class="features-grid">
        <div *ngFor="let feature of features" class="feature-tile">
            <a [routerLink]="feature.path" class="feature-link">
                <div class="feature-content">
                    <img [src]="feature.icon" alt="{{ feature.label }}" class="feature-icon">
                    <p class="feature-label">{{ feature.label }}</p>
                </div>
            </a>
        </div>
    </div>
</div>